.fondo {
    background-color: #022040;
    height: 1000px;
}
.imagen {
    width: 100%;
}
.search {
    position: relative;
    bottom: 300px;
}

.submenu {
    display: flex;
    justify-content: space-around;
}
