.searchflight {
    height: 100vh;
    background-color: #022040;
}
p {
    color: black;
}
.header {
    display: flex;
    justify-content: space-around;
}
/*.flights {
    display: flex;
    justify-content: space-around;
}*/
